<form action="/results">
	<div class="form-group">
		<label for="search_word">Enter a word</label>
		<input id="search_word" name="search_word" class="form-control">
	</div>
	<div class="form-group">
		<label for="search_target">Enter text to search</label>
		<textarea id="search_target" name="search_target" class="form-control" rows="3"></textarea>
	</div>
	<button type="submit" class="btn">Submit</button>
</form>
