html, body {
  height: 100%;
}

.container{
  width:1025px;
}

.vertical-center {
  height:100%;
  width:100%;
  text-align: center;
  font: 0/0 a;
  background-color: blue;
  color: white;
}

.vertical-center:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;
  font-family: 'Cabin Condensed', sans-serif;
}

@media (max-width: 768px) {
  .vertical-center:before {
    display: none;
  }
}

.btn {
	background-color: white;
	color: blue;
}