html, body {
  height: 100%;
}

.container{
  width:800px;
}

.vertical-center {
  height:100%;
  width:100%;
  text-align: center;
  font: 0/0 a;
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
  color: white;
}

.vertical-center:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;
  font-family: 'Cabin Condensed', sans-serif;
}

@media (max-width: 768px) {
  .vertical-center:before {
    display: none;
  }
}

h1, h2, h3, h4, .btn {
color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}